<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         failOnWarning="true"
         failOnRisky="true"
         testdox="true"
         stderr="true"
         processIsolation="true">
    <testsuites>
        <testsuite name="Core">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
