<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         failOnWarning="true"
         failOnRisky="true"
         testdox="true">
    <testsuites>
        <testsuite name="Core">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
